.image {
    margin: 1.6%;
    height: 380px;
    background-size: cover;
    background-position: center center;
}

.image:hover {
    box-shadow: 0px 0px 4px 4px rgba(0, 140, 186, 0.5);
}

.image1 {
    background-image: url('../images/img-1.jpg');
}

.image2 {
    background-image: url('../images/img-2.jpg');
}

.image3 {
    background-image: url('../images/img-3.jpg');
}

.image4 {
    background-image: url('../images/img-4.jpg');
}

.image5 {
    background-image: url('../images/img-5.jpg');
}

.image6 {
    background-image: url('../images/img-6.jpg');
}

.image7 {
    background-image: url('../images/img-7.jpg');
}

.image8 {
    background-image: url('../images/img-8.jpg');
}

.image9 {
    background-image: url('../images/img-9.jpg');
}

.image1-d {
    background-image: url('../images/london-1.png');
}

.image2-d {
    background-image: url('../images/rome-1.png');
}

.image3-d {
    background-image: url('../images/lake-1.png');
}

.image4-d {
    background-image: url('../images/bruges-1.png');
}

.image5-d {
    background-image: url('../images/Ireland-1.png');
}

.image6-d {
    background-image: url('../images/moscow-1.png');
}

.image7-d {
    background-image: url('../images/paris-1.png');
}

.image8-d {
    background-image: url('../images/cirq-1.png');
}

.image9-d {
    background-image: url('../images/china-1.png');
}

.image1-d:hover {
    background-image: url('../images/london.jpg');
}

.image2-d:hover {
    background-image: url('../images/rome.jpg');
}

.image3-d:hover {
    background-image: url('../images/lake-braies.jpg');
}

.image4-d:hover {
    background-image: url('../images/belfry-tower-bruges.jpg');
}

.image5-d:hover {
    background-image: url('../images/ireland.jpg');
}

.image6-d:hover {
    background-image: url('../images/moscow.jpg');
}

.image7-d:hover {
    background-image: url('../images/paris.jpg');
}

.image8-d:hover {
    background-image: url('../images/saint-cirq-lapopie.jpg');
}

.image9-d:hover {
    background-image: url('../images/china.jpg');
}

p {
    font-family: Lobster;
    margin-left: 1.6%;
    margin-right: 1.6%;
    font-size: 23px;
    font-weight: 400;
    /*border-bottom: 3px solid red;*/
    padding-bottom: 10px;
}